In [14]:
#stud=[]
n=int(input("Enter no. of students: "))
a=open("DAVmarksheet.csv",'w')
b=a.write("Name,Sec,Biology,Physics,Chemistry,English,Computer,Total\n")
for i in range(n):
    name=input("Enter Name of students: ")
    sec=input("Enter section of student: ")
    bio=int(input("Enter marks of biology:"))
    phy=int(input("Enter marks of physics: "))
    che=int(input("Enter marks of chemistry: "))
    eng=int(input("Enter marks of english: "))
    com=int(input("Enter marks of ComputerSci: "))
    Total=(phy+bio+che+eng+com)

    info=f"{name},{sec},{bio},{phy},{che},{eng},{com},{Total}\n"
    a.write(info)
a.close()

Enter no. of students: 5
Enter Name of students: Aayush
Enter section of student: A
Enter marks of biology:45
Enter marks of physics: 56
Enter marks of chemistry: 67
Enter marks of english: 56
Enter marks of ComputerSci: 49
Enter Name of students: Suish
Enter section of student: B
Enter marks of biology:45
Enter marks of physics: 67
Enter marks of chemistry: 34
Enter marks of english: 67
Enter marks of ComputerSci: 45
Enter Name of students: Waised
Enter section of student: C
Enter marks of biology:45
Enter marks of physics: 56
Enter marks of chemistry: 34
Enter marks of english: 67
Enter marks of ComputerSci: 76
Enter Name of students: Rushed
Enter section of student: B
Enter marks of biology:67
Enter marks of physics: 78
Enter marks of chemistry: 67
Enter marks of english: 56
Enter marks of ComputerSci: 67
Enter Name of students: Shanker
Enter section of student: C
Enter marks of biology:45
Enter marks of physics: 56
Enter marks of chemistry: 67
Enter marks of english: 45
Enter marks of ComputerSci: 67

In [15]:
import pandas as p

df=p.read_csv('DAVmarksheet.csv')
df

      Name Sec  Biology  Physics  Chemistry  English  Computer  Total
0   Aayush   A       45       56         67       56        49    273
1    Suish   B       45       67         34       67        45    258
2   Waised   C       45       56         34       67        76    278
3   Rushed   B       67       78         67       56        67    335
4  Shanker   C       45       56         67       45        67    280